
  <div>
    <div>Cost Sheet No : {{ci.name}}</div>
    <div>Date : {{ci.creation|global_date_format }}</div>
    <div>Customer : {{ci.customer}}</div>
    <div>Valid From : </div>
    <div>Valid To : </div>
  </div> 

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th style="width: 3%;">Sr No.</th>
        <th style="width: 20%;">Product</th>
        <th style="width: 5%;">Pack Weight</th>
        <th style="width: 5%; text-align: right;">Pack/Carton</th>
        <th style="width: 15%; text-align: right;">Carton Content Weight</th>
        <th style="width: 10%; text-align: right;">RM Cost/kg</th>
        <th style="width: 10%; text-align: right;">PM Cost/kg</th>
        <th style="width: 12%; text-align: right;">Processing Cost/kg</th>
        <th style="width: 10%; text-align: right;">Total Cost/kg</th>
        <th style="width: 5%; text-align: right;">Cost/case</th>
        <th style="width: 5%; text-align: right;">Cost/pouch</th>
      </tr>
      <tr>
        <td>1</td>
        <td>{{ item_details.item_name }}</td>
        <td >{{ item_details.pack_weight }} </td>
        <td >{{ item_details.packs_per_carton }}</td>
        <td>{{ item_details.carton_content_weight }}</td>
        <td>{{ item_details.rm_cost_per_kg }}</td>
        <td>{{ item_details.pm_cost_per_kg }}</td>
        <td>{{ item_details.pm_cost_per_kg }}</td>
        <td>{{ item_details.processing_cost_per_kg }}</td>
        <td>{{ item_details.total_cost_per_kg }}</td>
        <td>{{ item_details.cost_per_case }}</td>
        <td>{{ item_details.cost_per_pouch }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <tbody>
        <tr> 
          <th style="width: 10%;">Sr No.</th>
          <th style="width: 30%;">RM</th>
          <th style="width: 20%; text-align: right;">Qty/kg</th>
          <th style="width: 20%; text-align: right;">Rate/kg</th>
          <th style="width: 20%; text-align: right;">RM Cost/kg of FG</th>
        </tr>
        {% set idx_rm = 1 %}
        {% for rm_item in rm_items %}
          <tr>
            <td>{{ idx_rm }}</td>
            <td> {{ rm_item.item_name }}</td>
            <td>{{ rm_item.qty }}</td>
            <td>{{ rm_item.rate }}</td>
            <td>{{ rm_item.cost }}</td>
          </tr>
          {% set idx_rm = idx_rm + 1 %}
        {% endfor %}
        <tr>
          <td colspan="4">Total</td>
          <td colspan="2">{{ rm_items.total }}</td>
        </tr>
      </tbody>
  </table>
  <table class="table table-bordered">
    <tbody>
        <tr>
          <th style="width: 10%;">Sr No.</th>
          <th style="width: 30%;">PM</th>
          <th style="width: 10%;">PM Type</th>
          <th style="width: 10%; text-align: right;">Pack Size gm</th>
          <th style="width: 20%; text-align: right;">Packs/case</th>
          <th style="width: 20%; text-align: right;">PM Cost/kg of FG</th>
        </tr>
        <tr>
          <td>1</td>
          <td>RUS 303 - Film for Rings cheese ruckuss 16 gm pack</td>
          <td>Film</td>
          <td>16</td>
          <td>168</td>
          <td>52.35</td>
        </tr>
        <tr>
          <td>2</td>
          <td>RUSN5 - Carton for Rings cheese ruckuss 16 gm packs</td>
          <td>Carton</td>
          <td>16</td>
          <td>168</td>
          <td>15.63</td>
        </tr>
        <tr>
          <td>3</td>
          <td>RUSBOPP - BOPP tape for ruckuss cartons</td>
          <td>BOPP tape</td>
          <td>16</td>
          <td>168</td>
          <td>0.39</td>
        </tr>
        <tr>
          <td">4</td>
          <td">Insert</td>
          <td">Other</td>
          <td">16</td>
          <td">168</td>
          <td">23.75</td>
        </tr>
        <tr>
          <td colspan="5" style="text-align:right;">Total</td>
          <td colspan="1" style="text-align:right;">92.11</td>
        </tr>
      </tbody>
  </table>
  <table class="table table-bordered">
    <tbody>
      <tr>
          <th>Sr No</th>
          <th>Conversion</th>
          <th style="text-align:right;">Conv Cost/kg of FG</th>
        </tr>
        <tr>
          <td style="width: 10%;">1</td>
            <td>Rings cheese ruckuss</td>
            <td style="text-align:right;">20</td>
        </tr>
      </tbody>
  </table>