<style type="text/css">
table, th, td
{
  border-collapse: collapse;
  border: 0.5px solid grey;
  font-size: 10px;
}
table{
  margin: 5px;
}
td, th
{
  padding:5px;
}
.ta-right{
  text-align: right;
}
</style>
  <div style="font-size:12px">
    <div>Cost Sheet No : {{ci.name}}</div>
    <div>Date : {{ci.creation|global_date_format }}</div>
    <div>Customer : {{ci.customer}}</div>
    <div>Valid From : </div>
    <div>Valid To : </div>
  </div>

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <tr>
        <th style="width: 3%;">Sr No.</th>
        <th style="width: 20%;">Product</th>
        <th style="width: 5%;">Pack Weight</th>
        <th style="width: 5%; text-align: right;">Pack/Carton</th>
        <th style="width: 15%; text-align: right;">Carton Content Weight</th>
        <th style="width: 10%; text-align: right;">RM Cost/kg</th>
        <th style="width: 10%; text-align: right;">PM Cost/kg</th>
        <th style="width: 12%; text-align: right;">Processing Cost/kg</th>
        <th style="width: 10%; text-align: right;">Total Cost/kg</th>
        <th style="width: 5%; text-align: right;">Cost/case</th>
        <th style="width: 5%; text-align: right;">Cost/pouch</th>
      </tr>
      <tr>
        <td>1</td>
        <td>{{ item_details.item_name }}</td>
        <td class="ta-right">{{ item_details.pack_weight }} </td>
        <td class="ta-right">{{ item_details.packs_per_carton }}</td>
        <td class="ta-right">{{ item_details.carton_content_weight }}</td>
        <td class="ta-right">{{ item_details.rm_cost_per_kg }}</td>
        <td class="ta-right">{{ item_details.pm_cost_per_kg }}</td>
        <td class="ta-right">{{ item_details.processing_cost_per_kg }}</td>
        <td class="ta-right">{{ item_details.total_cost_per_kg }}</td>
        <td class="ta-right">{{ item_details.cost_per_case }}</td>
        <td class="ta-right">{{ item_details.cost_per_pouch }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
          <th style="width: 3%;">Sr No.</th>
          <th style="width: 37%;">RM</th>
          <th style="width: 20%; text-align: right;">Qty/kg</th>
          <th style="width: 20%; text-align: right;">Rate/kg</th>
          <th style="width: 20%; text-align: right;">RM Cost/kg of FG</th>
        </tr>
        {% set idx_rm = 1 %}
        {% for rm_item in rm_items["items"] %}
          <tr>
            <td>{{ idx_rm }}</td>
            <td>{{ rm_item.item_name }}</td>
            <td class="ta-right">{{ rm_item.qty }}</td>
            <td class="ta-right">{{ rm_item.rate }}</td>
            <td class="ta-right">{{ rm_item.cost }}</td>
          </tr>
          {% set idx_rm = idx_rm + 1 %}
        {% endfor %}
        <tr>
          <td colspan="4">Total</td>
          <td colspan="2">{{ rm_items["total"] }}</td>
        </tr>
      </tbody>
  </table>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
          <th style="width: 3%;">Sr No.</th>
          <th style="width: 37%;">PM</th>
          <th style="width: 10%;">PM Type</th>
          <th style="width: 10%; text-align: right;">Pack Size gm</th>
          <th style="width: 20%; text-align: right;">Packs/case</th>
          <th style="width: 20%; text-align: right;">PM Cost/kg of FG</th>
        </tr>
        {% set idx_pm = 1 %}
        {% for pm_item in pm_items["items"] %}
          <tr>
            <td>{{ idx_pm }}</td>
            <td>{{ pm_item.item_name }}</td>
            <td>{{ pm_item.item_group }}</td>
            <td class="ta-right">{{ pm_item.qty }}</td>
            <td class="ta-right">{{ pm_item.rate }}</td>
            <td class="ta-right">{{ pm_item.cost }}</td>
          </tr>
          {% set idx_pm = idx_pm + 1 %}
        {% endfor %}
        <tr>
          <td colspan="5" style="text-align:right;">Total</td>
          <td colspan="1" style="text-align:right;">{{ pm_items["total"] }}</td>
        </tr>
      </tbody>
  </table>
  <table class="table table-striped table-bordered table-condensed  ">
    <tbody>
      <tr>
          <th>Sr No</th>
          <th>Conversion</th>
          <th style="text-align:right;">Conv Cost/kg of FG</th>
        </tr>
        <tr>
          <td>1</td>
            <td>{{ conversion_item.item_name }}</td>
            <td style="text-align:right;">{{ conversion_item.conversion_cost }}</td>
        </tr>
      </tbody>
  </table>
  <div style="page-break-after:always;"></div>