{{ ci_requirements }}


<div>
		<div>Cost Sheet No : {{ foo }}</div>
		<div>Date :</div>
		<div>Customer :</div>
		<div>Valid From :</div>
		<div>Valid To :</div>
</div>

<table class="table table-bordered">
	<tbody>
      <tr>
        <th>Sr No.</th>
        <th>Product</th>
        <th>Pack Weight</th>
        <th>Pack/Carton</th>
        <th>Carton Content Weight</th>
        <th>RM Cost/kg</th>
        <th>PM Cost/kg</th>
        <th>Processing Cost/kg</th>
        <th>Total Cost/kg</th>
        <th>Cost/case</th>
        <th>Cost/pouch</th>
      </tr>
      <tr>
        <td style="width: 3%;">1</td>
        <td style="width: 20%;">Rings cheese ruckuss 16 gm pack</td>
        <td style="width: 5%;">16</td>
        <td style="width: 5%; text-align: right;">168</td>
        <td style="width: 15%; text-align: right;">2.688</td>
        <td style="width: 10%; text-align: right;">82.46</td>
        <td style="width: 10%; text-align: right;">92.11</td>
        <td style="width: 12%; text-align: right;">20</td>
        <td style="width: 10%; text-align: right;">194.57</td>
        <td style="width: 5%; text-align: right;">522.99</td>
        <td style="width: 5%; text-align: right;">3.11</td>
      </tr>
    </tbody>
</table>

<table class="table table-bordered">
	<tbody>
      <tr>
        <th>Sr No.</th>
        <th>RM</th>
        <th>Qty/kg</th>
        <th>Rate/kg</th>
        <th>RM Cost/kg of FG</th>
      </tr>
      <tr>
        <td style="width: 10%;">1</td>
        <td style="width: 30%;">Raw pellets - rings ruckuss</td>
        <td style="width: 20%; text-align: right;"> 0.91</td>
        <td style="width: 20%; text-align: right;"> 38.25</td>
        <td style="width: 20%; text-align: right;"> 34.81</td>
      </tr>
      <tr>
        <td style="width: 10%;">2</td>
        <td style="width: 30%;">Palmolein oil</td>>
        <td style="width: 20%; text-align: right;"> 0.23 </td>
        <td style="width: 20%; text-align: right;"> 62.73</td>
        <td style="width: 20%; text-align: right;"> 14.43</td>
      </tr>
      <tr>
        <td style="width: 10%;">3</td>
        <td style="width: 30%;">Rukuss Rings Cheese  RRT 119/T3</td>
        <td style="width: 20%; text-align: right;"> 0.11 </td>
        <td style="width: 20%; text-align: right;"> 302.00</td>
        <td style="width: 20%; text-align: right;"> 33.22</td>
      </tr>
      <tr>
      	<td colspan="4" style="text-align:right;">Total</td>
      	<td colspan="2" style="text-align:right;">84.46</td>
      </tr>
    </tbody>
</table>
<table class="table table-bordered">
	<tbody>
      <tr>
        <th>Sr No.</th>
        <th>PM</th>
        <th>PM Type</th>
        <th>Pack Size gm</th>
        <th>Packs/case</th>
        <th>PM Cost/kg of FG</th>
      </tr>
      <tr>
        <td style="width: 10%;">1</td>
        <td style="width: 30%;">RUS 303 - Film for Rings cheese ruckuss 16 gm pack</td>
        <td style="width: 10%;">Film</td>
        <td style="width: 10%; text-align: right;">16</td>
        <td style="width: 20%; text-align: right;">168</td>
        <td style="width: 20%; text-align: right;">52.35</td>
      </tr>
      <tr>
        <td style="width: 10%;">2</td>
        <td style="width: 30%;">RUSN5 - Carton for Rings cheese ruckuss 16 gm packs</td>
        <td style="width: 10%;">Carton</td>
        <td style="width: 10%; text-align: right;">16</td>
        <td style="width: 20%; text-align: right;">168</td>
        <td style="width: 20%; text-align: right;">15.63</td>
      </tr>
      <tr>
        <td style="width: 10%;">3</td>
        <td style="width: 30%;">RUSBOPP - BOPP tape for ruckuss cartons</td>
        <td style="width: 10%;">BOPP tape</td>
        <td style="width: 10%; text-align: right;">16</td>
        <td style="width: 20%; text-align: right;">168</td>
        <td style="width: 20%; text-align: right;">0.39</td>
      </tr>
      <tr>
        <td style="width: 10%;">4</td>
        <td style="width: 30%;">Insert</td>
        <td style="width: 10%;">Other</td>
        <td style="width: 10%; text-align: right;">16</td>
        <td style="width: 20%; text-align: right;">168</td>
        <td style="width: 20%; text-align: right;">23.75</td>
      </tr>
      <tr>
      	<td colspan="5" style="text-align:right;">Total</td>
      	<td colspan="1" style="text-align:right;">92.11</td>
      </tr>
    </tbody>
</table>
<table class="table table-bordered">
	<tbody>
		<tr>
	    	<th>Sr No</th>
	    	<th>Conversion</th>
	    	<th style="text-align:right;">Conv Cost/kg of FG</th>
	    </tr>
	    <tr>
	    	<td style="width: 10%;">1</td>
       		<td>Rings cheese ruckuss</td>
        	<td style="text-align:right;">20</td>
	    </tr>
    </tbody>
</table>